.App {
  text-align: center;
  margin-top: 40px;
  border: 2px solid  rgb(14, 22, 32);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 63%, rgba(237,237,237,1) 100%);
  box-shadow: 23px 18px 35px -13px rgba(0,0,0,0.4);
  width: 800px;
}

.btn {
  margin: 30px 20px;
  padding: 10px 20px;
  font-size: 20px;
  background: linear-gradient(to right, rgb(103, 196, 50) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 0%, rgb(35, 85, 15) 100%);
  border: none;
  color: rgb(226, 231, 238);
  border-radius: 10px;
  box-shadow: 15px 10px 20px -13px rgba(0,0,0,0.4);
  border: 1px solid rgb(16, 43, 17);
}

.number {
  border: 1px solid rgb(16, 43, 17);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(40, 196, 79) 0%, rgba(255,146,10,0.63) 80%, rgba(255,146,10,0.54) 100%);
  margin: 50px 10px;
  display: inline-block;
  box-shadow: 23px 18px 35px -13px rgba(0,0,0,0.4);
}

.showNumber {
  padding-top: 20px;
  color: rgb(27, 36, 11);
  font-size: 20px;
}